#Use matrix to speed up the build process
strategy:
  matrix:
    TARGET_MDE_CPU:
      Build.Pkgs: 'MdePkg UefiCpuPkg'
    TARGET_MDEMODULE:
      Build.Pkgs: 'MdeModulePkg'
    TARGET_OTHER:
      Build.Pkgs: 'NetworkPkg PcAtChipsetPkg'
    TARGET_SECURITY:
      Build.Pkgs: 'SecurityPkg'

variables:
  GCC_AARCH_PREFIX: bin/aarch64-linux-gnu-

workspace:
  clean: all

steps:
- checkout: self
  clean: true

- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.7.x'
    architecture: 'x64'

- script: pip3 install -r requirements.txt --upgrade
  displayName: 'Install/Upgrade pip modules'

#Build repo
- task: CmdLine@1
  displayName: Setup $(Build.Pkgs)
  inputs:
    filename: stuart_setup
    arguments: -c CISettings.py --Tool_Chain GCC5

- task: CmdLine@1
  displayName: Update $(Build.Pkgs)
  inputs:
    filename: stuart_update
    arguments: -c CISettings.py --Tool_Chain GCC5

- task: CmdLine@1
  displayName: Build and Test $(Build.Pkgs)
  inputs:
    filename: stuart_ci_build
    arguments: -c CISettings.py --Tool_Chain GCC5 -p $(Build.Pkgs)

# Publish Test Results to Azure Pipelines/TFS
- task: PublishTestResults@2
  displayName: 'Publish junit test results'
  continueOnError: true
  condition: succeededOrFailed()
  inputs:
    testResultsFormat: 'JUnit' # Options: JUnit, NUnit, VSTest, xUnit
    testResultsFiles: 'Build/TestSuites.xml'
    #searchFolder: '$(System.DefaultWorkingDirectory)' # Optional
    mergeTestResults: true # Optional
    #testRunTitle: # Optional
    #buildPlatform: # Optional
    #buildConfiguration: # Optional
    publishRunAttachments: true # Optional

# Publish Test Results to Azure Pipelines/TFS
- task: PublishTestResults@2
  displayName: 'Publish host based test results for $(Build.Pkgs)'
  continueOnError: true
  condition: succeededOrFailed()
  inputs:
    testResultsFormat: 'JUnit' # Options: JUnit, NUnit, VSTest, xUnit
    testResultsFiles: 'Build/**/*.result.xml'
    #searchFolder: '$(System.DefaultWorkingDirectory)' # Optional
    mergeTestResults: true # Optional
    #testRunTitle: # Optional
    #buildPlatform: # Optional
    #buildConfiguration: # Optional
    publishRunAttachments: true # Optional



# Publish Build Artifacts
# Publish build artifacts to Azure Artifacts/TFS or a file share
- task: PublishBuildArtifacts@1
  displayName: 'Publish build logs'
  continueOnError: true
  condition: succeededOrFailed()
  inputs:
    pathtoPublish: 'Build/CI_BUILDLOG.TXT'
    artifactName: 'Build Logs $(Build.Pkgs)'
    #publishLocation: 'Container' # Options: container, filePath
    #targetPath: # Required when publishLocation == FilePath
    #parallel: false # Optional
    #parallelCount: # Optional
